@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

@theme {
  --font-dm-regular: DMSans_400Regular;
  --font-dm-bold: DMSans_700Bold;
  --font-dm-light: DMSans_300Light;
  --font-dm-medium: DMSans_500Medium;
  --font-dm-semibold: DMSans_600SemiBold;
  --font-dm-extrabold: DMSans_800ExtraBold;

  --color-primary: #073b4c;
  --color-secondary: #073b4c;
  --color-accent: #06d6a0;
  --color-on-accent: #ffffff;
  --color-background: #ffffff;

  --color-primary-dark: #ffffff;
  --color-secondary-dark: #d9e6ec;
  --color-accent-dark: #06d6a0;
  --color-on-accent-dark: #061b3a;
  --color-background-dark: #061b3a;
}
